

/*Main Formatting*/
body, h2, h3{
	font-family: 'EB Garamond', serif;
	color:#525252;
}

body {
		background-color: #FFFFFF;
}

h1, li{
	font-family: 'Raleway', sans-serif;
}
h1, p, a, li{
	font-size: 1.5em;
}


a {
	color:#FFFFFF;
}

a:active, a:visited{
	color:#FFFFFF;
}

a:hover, a:focus{
	color:#3f58c4;
}


.link{
	color:#FFFFFF;
}


h1{
	color:#525252;
}

strong{
	font-weight: 800;

}

/*header*/

header{
	padding-top: 2%;
	padding-bottom: 2%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/*.header{
	color:#FFFFFF;

}*/

.logo{
	width:60%;
	max-width: 200px;
	border-radius: 10%;
	margin: 0 auto;
	display: block;
	
}

.title{
	font-family: "Londrina Sketch", sans-serif;
	font-size: 2.5em;
}

/*Menu*/

nav{
    background-color: #8d9cdc;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    height: 100px;
    overflow: visible;
    opacity: .99; 
}
nav li{
    display:inline;
}

nav a{
    display:inline-block;
    width:125px;
}



/*Photos*/
.img{
	max-width:80px;
	border-radius:10%;
	/*z-index:10;*/
}


.photos{
	background-color: #FFFFFF;
	z-index: 1;
}

.display{
	max-width: 875px;
	display: block;
	margin: auto;
}

/*Guides Menu*/
#choice{
	background-color: #8d9cdc;
}

#choice h1{
	color: #FFFFFF;
}


.solid{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.border{
	border-left:1px dashed #ccc;
}

/*Guides*/
.summary {
	border-bottom:1px solid #ccc;
    border-width:1px 0;
    text-align: left;
   	padding-left: 2rem; 
	padding-left: 2rem}
}
}

.summary h1{
	font-size: 2.25em;
}

.highlight{
	background-color: #667ad0;
}

#france, #italy, #spain{
	display: none;
	/*position: absolute;*/
}

button{
	float: right;
	background-color:#667ad0;
	font-family: 'EB Garamond', serif;
}

button:hover, button:focus{
	background-color: #3f58c4;
}


/*faq*/

#faq h3, #faq p { 
	padding: 0 0 0 50px; 
}

#faq h3 { 
	/*font-size:1.5em; */
	/*color: #9d9d9d; */
	cursor: pointer; height: 37px; 
	line-height: 37px; 
	margin: 0 0 15px 25px;
}

#faq p { 
	font-size: 1.5em; 
	margin: 0 0 20px 25px;
}

#faq h3 { 
	background: url(http://www.designonslaught.com/files/2012/06/expand-icon.png) no-repeat left;
}

#faq .expanded { background: url(http://www.designonslaught.com/files/2012/06/expanded-icon.png) no-repeat left;
}

/*Footer*/
footer{
	background-color:#8d9cdc;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/*Media queries*/

@media (min-width: 900px){
	.summary{padding-left: 0; padding-left: 0}
}
@media (min-width: 641px) {
	.title{font-size: 3.2em}
	h2{font-size: 2em;}
}

@media (max-width: 450px){
    #choice h1{font-size: 1em;}

}

